// 基础布局
body {
    margin: 0;
    padding: 0;
    font-size: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    background:url('../images/bg.jpg') no-repeat 0 0 /cover;
}
h4, h3, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.viewport {
    display: flex;
    margin: 0 auto;
    padding: 3.667rem 0.833rem 0;
    min-width: 1024px;
    max-width: 1920px;
    min-height: 780px;
    background: url('../images/logo.png') no-repeat top center /contain;
}
.column {
    position: relative;
    flex: 3;
    
    &:nth-child(2){
        flex: 4;
        margin: 1.333rem 0.833rem 0;
    }
}
.panel {
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-width: 2.125rem 1.583rem 0.833rem 5.5rem;
    border-image: url('../images/border.png') 51 38 20 132;
    margin-bottom: 0.833rem;
    .inner {
        padding: 1rem 1.5rem;
        position: absolute;
        top: -2.125rem;
        left: -5.5rem;
        right: -1.583rem;
        bottom: -0.833rem;
    }
    h3 {
        font-size: 0.833rem;
        color: #fff;
    }
} 
// 预览  
.overview {
    height: 4.583rem;
    
    .inner {
        display: flex;
        justify-content: space-between;
    }
    h4 {
        font-size: 1.167rem;
        padding-left: 0.2rem;
        color: #fff;
        margin-bottom: 0.333rem
      }
    span {
        font-size: 0.667rem;
        color: #4c9bfd;
    }
}
// 监控
.monitor{
    height: 20rem;
    .inner {
        display: flex;
        padding: 1rem 0;
        flex-direction: column;
        .tabs {
            display: flex;
            padding:0 1.5rem;
            margin-bottom: 0.75rem;
            a {
                color:#1950c4;
                font-size: 0.75rem;
                padding: 0 1.125rem;
                &:first-child {
                    padding-left: 0;
                    border-right: 0.083rem solid #00f2f1;
                }
                &.active {
                    color: #fff;
                }
            }
        }
        .content {
            position: relative;
            flex: 1;
            display: none;
            .head {
                padding: 0.5rem 1.5rem;
                display: flex;
                justify-content: space-between;
                background-color: rgba(255, 255, 255, 0.1);
                line-height: 1.05;
                font-size: 0.583rem;
                color: #68d8fe;
            }
        }
    }
    .row {
        padding: 0.5rem 1.5rem;
        display: flex;
        justify-content: space-between;
        line-height: 1.05;
        font-size: 0.5rem;
        color: #fff;
        .icon-dot {
            display: inline-block;
            width: 0.417rem;
            position: absolute;
            left: 0.64rem;
            opacity: 0;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: #68d8fe;
            
        }
        &:hover .icon-dot {
            opacity: 1;
        }
    }
    .col {
        &:first-child {
            width: 3.2rem;
        }
        &:nth-child(2){
            width: 8.4rem;
            white-space: nowrap;
            text-overflow:ellipsis;
            overflow: hidden;
        }
        &:nth-child(3){
            width: 3.2rem;
        }
    }

    .marquee-view {
        position: absolute;
        width: 100%;
        top: 1.6rem;
        bottom: 0;
        overflow: hidden;
    }
    .marquee {
        animation: scroll-top 15s linear infinite;
        &:hover {
            animation-play-state: paused;
        }
    }

}


@keyframes scroll-top {
    0%{}
    100%{
        transform: translateY(-50%);
    }
}

// 点位
.point {
    height: 14.167rem;
    .chart {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        .pie {
            margin-left: -0.4rem;
            width: 13rem;
            height: 10rem;
        }
        .data {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 7rem;
            padding: 1.5rem 1.25rem;
            box-sizing: border-box;
            background-image: url(../images/rect.png);
            background-size: cover;
        }
    }
    h4 {
        margin-bottom: 0.5rem;
        font-size: 1.167rem;
        color: #fff;
    }
    span {
        display: block;
        color: #4c9bfd;
        font-size: 0.667rem;
    }
}


// 地图 
.map {
    margin-bottom: 0.833rem;
    display: flex;
    flex-direction: column;
    height: 24.1rem;
    h3 {
        margin: 0;
        line-height: 1;
        padding: 0.667rem 0;
        font-size: 0.833rem;
        color: #fff;
    }
    .icon-cube {
        color: #68d8fe;
    }
    .chart {
        flex: 1;
        background-color: rgba(255, 255, 255, 0.05);
    }
    .geo {
        width: 100%;
        height: 100%;
    }
}

// 用户模块
.users {
    height: 14.167rem;
    display: flex;
    .chart {
        margin-top: 1rem;
        display: flex;
        .bar {
            width: 24.5rem;
            height: 10rem;
        }
        .data {
            padding: 1.5rem 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-image: url(../images/rect.png);
            background-size: cover;
            width: 7rem;
            box-sizing: border-box;
        }
    }
    h4 {
        margin-bottom: 0.5rem;
        font-size: 1.167rem;
        color: #fff;
    }
    span {
        display: block;
        font-size: 0.667rem;
        color: #4c9bfd;
    }
}



// 订单区域
.order {
    height: 6.167rem;
    .filter  {
        display: flex;
        a {
            padding: 0 0.75rem;
            display: block;
            height: 0.75rem;
            line-height: 1;
            color: #1950c4;
            font-size: 0.75rem;
            border-right: 0.083rem solid #00f2f1;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border-right: none;
            }
            &.active {
                color: #fff;
                font-size: 0.833rem;
            }
        }
    }
    .data {
        display: flex;
        margin-top: 0.833rem;
        .item {
            width: 50%;
        }
    }
    h4 {
        font-size: 1.167rem;
        color: #fff;
        margin-bottom: 0.417rem;
    }
    span {
        color: #4c9bfd;
        font-size: 0.667rem;
    }
}
// 销售统计
.sales {
    height: 10.333rem;
    .caption {
        display: flex;
        line-height: 1;
        h3 {
            height: 0.75rem;
            padding-right: 0.75rem;
            border-right: 0.083rem solid #00f2f1;
        }
        a {
            margin: -0.125rem 0 0 0.875rem;
            padding: 0.167rem; 
            border-radius: 0.125rem;
            font-size: 0.667rem;
            color: #0bace6;
            &.active {
                background-color: #4c9bfd;
                color: #fff;
            }
        }
    }
    .inner {
        display: flex;
        flex-direction: column;
    }
    .chart {
        flex: 1;
        position: relative;
        padding-top: 0.6rem;
        .label {
            position: absolute;
            left: 1.75rem;
            top: 0.75rem;
            color: #4996f5;
            font-size: 0.583rem;
        }
        .line {
            width: 100%;
            height: 100%;
        }
    }
    
}