body {
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.15;
  background: url('../images/bg.jpg') no-repeat 0 0 / cover;
}
h4,
h3,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.viewport {
  display: flex;
  margin: 0 auto;
  padding: 3.667rem 0.833rem 0;
  min-width: 1024px;
  max-width: 1920px;
  min-height: 780px;
  background: url('../images/logo.png') no-repeat top center / contain;
}
.column {
  position: relative;
  flex: 3;
}
.column:nth-child(2) {
  flex: 4;
  margin: 1.333rem 0.833rem 0;
}
.panel {
  position: relative;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-width: 2.125rem 1.583rem 0.833rem 5.5rem;
  border-image: url('../images/border.png') 51 38 20 132;
  margin-bottom: 0.833rem;
}
.panel .inner {
  padding: 1rem 1.5rem;
  position: absolute;
  top: -2.125rem;
  left: -5.5rem;
  right: -1.583rem;
  bottom: -0.833rem;
}
.panel h3 {
  font-size: 0.833rem;
  color: #fff;
}
.overview {
  height: 4.583rem;
}
.overview .inner {
  display: flex;
  justify-content: space-between;
}
.overview h4 {
  font-size: 1.167rem;
  padding-left: 0.2rem;
  color: #fff;
  margin-bottom: 0.333rem;
}
.overview span {
  font-size: 0.667rem;
  color: #4c9bfd;
}
.monitor {
  height: 20rem;
}
.monitor .inner {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
}
.monitor .inner .tabs {
  display: flex;
  padding: 0 1.5rem;
  margin-bottom: 0.75rem;
}
.monitor .inner .tabs a {
  color: #1950c4;
  font-size: 0.75rem;
  padding: 0 1.125rem;
}
.monitor .inner .tabs a:first-child {
  padding-left: 0;
  border-right: 0.083rem solid #00f2f1;
}
.monitor .inner .tabs a.active {
  color: #fff;
}
.monitor .inner .content {
  position: relative;
  flex: 1;
  display: none;
}
.monitor .inner .content .head {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 1.05;
  font-size: 0.583rem;
  color: #68d8fe;
}
.monitor .row {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.05;
  font-size: 0.5rem;
  color: #fff;
}
.monitor .row .icon-dot {
  display: inline-block;
  width: 0.417rem;
  position: absolute;
  left: 0.64rem;
  opacity: 0;
}
.monitor .row:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #68d8fe;
}
.monitor .row:hover .icon-dot {
  opacity: 1;
}
.monitor .col:first-child {
  width: 3.2rem;
}
.monitor .col:nth-child(2) {
  width: 8.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.monitor .col:nth-child(3) {
  width: 3.2rem;
}
.monitor .marquee-view {
  position: absolute;
  width: 100%;
  top: 1.6rem;
  bottom: 0;
  overflow: hidden;
}
.monitor .marquee {
  animation: scroll-top 15s linear infinite;
}
.monitor .marquee:hover {
  animation-play-state: paused;
}
@keyframes scroll-top {
  100% {
    transform: translateY(-50%);
  }
}
.point {
  height: 14.167rem;
}
.point .chart {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.point .chart .pie {
  margin-left: -0.4rem;
  width: 13rem;
  height: 10rem;
}
.point .chart .data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7rem;
  padding: 1.5rem 1.25rem;
  box-sizing: border-box;
  background-image: url(../images/rect.png);
  background-size: cover;
}
.point h4 {
  margin-bottom: 0.5rem;
  font-size: 1.167rem;
  color: #fff;
}
.point span {
  display: block;
  color: #4c9bfd;
  font-size: 0.667rem;
}
.map {
  margin-bottom: 0.833rem;
  display: flex;
  flex-direction: column;
  height: 24.1rem;
}
.map h3 {
  margin: 0;
  line-height: 1;
  padding: 0.667rem 0;
  font-size: 0.833rem;
  color: #fff;
}
.map .icon-cube {
  color: #68d8fe;
}
.map .chart {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.05);
}
.map .geo {
  width: 100%;
  height: 100%;
}
.users {
  height: 14.167rem;
  display: flex;
}
.users .chart {
  margin-top: 1rem;
  display: flex;
}
.users .chart .bar {
  width: 24.5rem;
  height: 10rem;
}
.users .chart .data {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/rect.png);
  background-size: cover;
  width: 7rem;
  box-sizing: border-box;
}
.users h4 {
  margin-bottom: 0.5rem;
  font-size: 1.167rem;
  color: #fff;
}
.users span {
  display: block;
  font-size: 0.667rem;
  color: #4c9bfd;
}
.order {
  height: 6.167rem;
}
.order .filter {
  display: flex;
}
.order .filter a {
  padding: 0 0.75rem;
  display: block;
  height: 0.75rem;
  line-height: 1;
  color: #1950c4;
  font-size: 0.75rem;
  border-right: 0.083rem solid #00f2f1;
}
.order .filter a:first-child {
  padding-left: 0;
}
.order .filter a:last-child {
  border-right: none;
}
.order .filter a.active {
  color: #fff;
  font-size: 0.833rem;
}
.order .data {
  display: flex;
  margin-top: 0.833rem;
}
.order .data .item {
  width: 50%;
}
.order h4 {
  font-size: 1.167rem;
  color: #fff;
  margin-bottom: 0.417rem;
}
.order span {
  color: #4c9bfd;
  font-size: 0.667rem;
}
.sales {
  height: 10.333rem;
}
.sales .caption {
  display: flex;
  line-height: 1;
}
.sales .caption h3 {
  height: 0.75rem;
  padding-right: 0.75rem;
  border-right: 0.083rem solid #00f2f1;
}
.sales .caption a {
  margin: -0.125rem 0 0 0.875rem;
  padding: 0.167rem;
  border-radius: 0.125rem;
  font-size: 0.667rem;
  color: #0bace6;
}
.sales .caption a.active {
  background-color: #4c9bfd;
  color: #fff;
}
.sales .inner {
  display: flex;
  flex-direction: column;
}
.sales .chart {
  flex: 1;
  position: relative;
  padding-top: 0.6rem;
}
.sales .chart .label {
  position: absolute;
  left: 1.75rem;
  top: 0.75rem;
  color: #4996f5;
  font-size: 0.583rem;
}
.sales .chart .line {
  width: 100%;
  height: 100%;
}
.wrap {
  display: flex;
}
.wrap .channel,
.wrap .quarter {
  flex: 1;
  height: 9.667rem;
}
.wrap .channel {
  margin-right: 0.833rem;
}
.wrap .channel data {
  overflow: hidden;
}
.wrap .channel .item {
  margin-top: 0.85rem;
}
.wrap .channel .item small {
  font-size: 50%;
}
.wrap .channel .item span {
  display: block;
  color: #4c9bfd;
  font-size: 0.583rem;
}
.wrap .channel .item:first-child {
  float: left;
}
.wrap .channel .item:last-child {
  float: right;
}
.wrap .channel h4 {
  margin-bottom: 0.2rem;
  color: #fff;
  font-size: 1.333rem;
}
.quarter .inner {
  margin: 0 -0.25rem;
  display: flex;
  flex-direction: column;
}
.quarter .inner .chart {
  flex: 1;
  padding-top: 0.75rem;
}
.quarter .inner .chart .box {
  position: relative;
}
.quarter .inner .chart .box .label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  color: #fff;
  font-size: 1.25rem;
}
.quarter .inner .chart .box .label small {
  font-size: 50%;
}
.quarter .inner .chart .gauge {
  height: 3.5rem;
}
.quarter .inner .data {
  display: flex;
  justify-content: space-between;
}
.quarter .inner .item {
  width: 50%;
}
.quarter .inner h4 {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}
.quarter .inner span {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #4c9bfd;
  font-size: 0.583rem;
}
.top {
  height: 11.8rem;
}
.top .inner {
  display: flex;
}
.top .all {
  display: flex;
  flex-direction: column;
  width: 7rem;
  color: #4c9bfd;
  font-size: 0.6rem;
  vertical-align: middle;
}
.top .all ul {
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top .all ul li {
  overflow: hidden;
}
.top .all [class^="icon-"] {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.top .province {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.top .province i {
  padding: 0 0.5rem;
  margin-top: 0.208rem;
  float: right;
  color: #0bace6;
  font-size: 0.583rem;
  font-style: normal;
}
.top .province s {
  display: inline-block;
  transform: scale(0.8);
  text-decoration: none;
}
.top .province .icon-up {
  color: #dc3c33;
}
.top .province .icon-down {
  color: #36be90;
}
.top .province .data {
  margin-top: 0.6rem;
  flex: 1;
  display: flex;
}
.top .province .data ul {
  margin-bottom: 0.25rem;
  flex: 1;
  line-height: 1;
}
.top .province .data ul li {
  display: flex;
  justify-content: space-between;
}
.top .province .data ul span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.top .province .data ul.sup {
  font-size: 0.583rem;
}
.top .province .data ul.sup li {
  color: #4995f4;
  padding: 0.5rem;
}
.top .province .data ul.sup li.active {
  color: #a3c6f2;
  background-color: rgba(10, 67, 188, 0.2);
}
.top .province .data ul.sub {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.5rem;
  background-color: rgba(10, 67, 188, 0.2);
}
.top .province .data ul.sub li {
  color: #52ffff;
  padding: 0.417rem 0.6rem;
}
.top .province .clock {
  position: absolute;
  top: -1.5rem;
  right: 1.667rem;
  font-size: 0.833rem;
  color: #0bace6;
}
.top .province .clock i {
  margin-right: 5px;
  font-size: 0.833rem;
}
@media screen and (max-width: 1600px) {
  .top span {
    transform: scale(0.9);
  }
  .top .province ul.sup li {
    padding: 0.4rem 0.5rem;
  }
  .top .province ul.sub li {
    padding: 0.23rem 0.5rem;
  }
  .quarter span {
    transform: scale(0.9);
  }
}
